.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; 
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px;
  height: 500px; 
  
;
}

.item {
  background-color: orange;
  padding: 20px;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 5%;
  border-color: black;
}

img {
    max-width: 250px;
    height: 250px;
}